/* Overall Style */
html {
  font-size: 16px;
  border: 1px solid black;
}

/* Header */
.header {
  height: 4rem;
  padding: 0 1.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav li {
  display: inline;
  padding-left: 1rem;
}

/* Banner Section */
.banner {
  background-color: lightgrey;
  width: 100%;
}

.mainimage img {
  width: 60%;
  padding: 2rem 1.5rem;
}
